@font-face {
  font-family: "adam";
  src: url("../fonts/ADAM.CG PRO.otf") format("opentype");
}

@font-face {
  font-family: "helvetica";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
}