.background {
  background: url("../img/osen.jpg") repeat;
  background-size: 100% auto;
  position: fixed;
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  z-index: -1
}

.title {
  display: inline-block;
  z-index: 2;
  margin: auto;
  background: #fff;
  padding: 2rem 2rem;
  width: auto;
  left: 50%;
  font-size: 3rem;
  position: relative;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-family: adam, sans-serif;
  font-weight: 100;
  span {
    color: #ffc600;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
}

.wrapper__item {
  width: calc(25% - 2rem);
  margin-bottom: 2rem;
  background: #fff;
  padding-bottom: 80px;
  list-style: none;
  position: relative;
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.8);
  transition: all 0.2s;
  margin-left: 1%;
  margin-right: 1%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  h3 {
    font-size: 18px;
    margin-left: 20px;
    color: black;
    font-family: adam, sans-serif;
  }
}

.wrapper__item:hover {
  box-shadow: 0 0 40px 40px rgba(0,0,0,0.05);
  transform: scale(1.1);
  z-index: 2;
}

#drum {
  position: relative;
}

#drum::before {
  content: '';
  position: absolute;
  width: 156px;
  height: 74px;
  background: url("../img/finished.png");
  bottom: 2px;
  right: 2px;
}